[submodule "deps/abseil"]
	path = deps/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "deps/sensor-fusion"]
	path = deps/sensor-fusion
	url = https://github.com/adiog/embed-sensor-fusion
[submodule "deps/udpbox"]
	path = deps/udpbox
	url = https://github.com/adiog/udpbox
